<div class="admin-dashboard-wrapper">

 
  <div class="page-header">
    <h2>Admin Dashboard</h2>
    <p>System overview and administrative controls</p>
  </div>

  
  <div class="summary-grid">

    <mat-card class="summary-card total">
      <div class="icon-wrap">
      <mat-icon>people</mat-icon>
      </div>
      <div>
        <h4>Total Users</h4>
        <p>{{ totalUsers() }}</p>
      </div>
    </mat-card>

    <mat-card class="summary-card approved">
      <div class="icon-wrap">
      <mat-icon>verified</mat-icon>
      </div>
      <div>
        <h4>Approved Users</h4>
        <p>{{ approvedUsers() }}</p>
      </div>
    </mat-card>

    <mat-card class="summary-card pending">
      <div class="icon-wrap">
      <mat-icon>hourglass_top</mat-icon>
      </div>
      <div>
        <h4>Pending Approvals</h4>
        <p>{{ pendingUsers() }}</p>
      </div>
    </mat-card>


  </div>

 
  <mat-card class="table-card">

    <div class="table-header">
      <h3>Loan Types</h3>
    </div>

    <table mat-table [dataSource]="loanTypes()" class="loan-table">

      <ng-container matColumnDef="loanTypeId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let l">{{ l.loanTypeId }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let l">{{ l.name }}</td>
      </ng-container>

      <ng-container matColumnDef="interestRate">
        <th mat-header-cell *matHeaderCellDef>Interest</th>
        <td mat-cell *matCellDef="let l">{{ l.interestRate }}%</td>
      </ng-container>

      <ng-container matColumnDef="maxTenure">
        <th mat-header-cell *matHeaderCellDef>Max Tenure</th>
        <td mat-cell *matCellDef="let l">{{ l.maxTenure }} months</td>
      </ng-container>

      <ng-container matColumnDef="minAmount">
        <th mat-header-cell *matHeaderCellDef>Min Amount</th>
        <td mat-cell *matCellDef="let l">₹ {{ l.minAmount | number:'1.0-0' }}</td>
      </ng-container>

      <ng-container matColumnDef="maxAmount">
        <th mat-header-cell *matHeaderCellDef>Max Amount</th>
        <td mat-cell *matCellDef="let l">₹ {{ l.maxAmount | number:'1.0-0' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>


    <div class="empty-state" *ngIf="loanTypes().length === 0">
      <mat-icon>info</mat-icon>
      <p>No loan types configured yet</p>
    </div>

  </mat-card>

</div>
