/* =========================
   BRAND BAR
========================= */
.brand-bar {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #7c6cff;
}


/* BRAND INSIDE CARD */
.card-brand {
  font-size: 22px;
  font-weight: 700;
  color: #7c6cff;
  text-align: left;
  margin-bottom: 18px;
}


/* =========================
   PAGE WRAPPER
========================= */
.register-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f5f3ff, #ffffff);
}

/* =========================
   CARD
========================= */
.register-card {
  width: 420px;
  padding: 32px 30px;
  border-radius: 20px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.08);
}

/* =========================
   TITLE & SUBTITLE
========================= */
.title {
  font-size: 28px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 15px;
  color: #6b7280;
  margin-bottom: 28px;
}

/* =========================
   ERROR
========================= */
.error-text {
  color: #dc2626;
  font-size: 14px;
  margin-bottom: 16px;
}

/* =========================
   FORM
========================= */
.full-width {
  width: 100%;
  margin-bottom: 18px;
}

/* =========================
   BUTTON
========================= */
.submit-btn {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  font-weight: 500;
  text-transform: none;
  margin-top: 10px;
}

/* =========================
   FOOTER
========================= */
.footer-text {
  margin-top: 26px;
  font-size: 14px;
  color: #6b7280;
}

.footer-text span {
  color: #7c6cff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 4px;
}

.footer-text span:hover {
  text-decoration: underline;
}

/* =========================
   RESPONSIVE
========================= */
@media (max-width: 480px) {
  .register-card {
    width: 90%;
    padding: 32px 24px;
  }
}
